<HTML><HEAD>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link rel="stylesheet" type="text/css" href="style/{$OPTS[css]}">
<script language="javascript" src="bin/gb.js"></script>
<title>{$bookInfo[title]}</title>
</HEAD>

<BODY class="book">
{$bookInfo[htmlt]}

<DIV ID="passForm" align="center" class="manageForm">
<form method=post action="{$gburl}?action=login&id={$bookInfo[id]}">
<table cellspacing=1 bgcolor=#000000 cellpadding=3>
<tr><td width=100% bgcolor=#F0F0F0 align=center>
输入管理密码：<input type=password class="plainInput" name=f_pass size=15><br><br>
<input type=submit value="确认" class="plainButton">
<input type="button" onclick="hideDlg();" value="关闭" class="plainButton">
</td></tr></table></form>
</DIV>
