{xingTemplate gbs_header}
{xingTemplate gbs_frame_begin}

居民数:<font color='#FF0000'>{$size}</font>
<table class='form' width="100%" border=0 cellspacing=1 cellpadding=0>
<tr>
<td class='form-caption' width="55%" align="center"><font color=ffffff>留言本名称</font></td>
<td class='form-caption' width="10%" align="center"><font color=ffffff>留言数</font></td>
<td class='form-caption' width="15%" align="center"><font color=ffffff>版主</font></td>
<td class='form-caption' width="20%" align="center"><font color=ffffff>申请时间</font></td>
</tr>
{loop $bookInfos as $bookInfo}
<tr>
<td class='form-item1'>
	<a href={$gburl}?id={$bookInfo['id']} target=_blank>{$bookInfo['title']}</a>
	<br>&nbsp;&nbsp;{$bookInfo['desc']}
</td>
<td class='form-item1' align='center'><font color=#FF0000>{$bookInfo['lys']}</font></td>
<td class='form-item1' align='center'><a href='mailto:{$bookInfo['email']}'>{$bookInfo['name']}</a></td>
<td class='form-item1' align='center'>{$bookInfo['regtime']}</td>
</tr>
{/loop}
<tr>
<td class='form-item1' colspan=4 align=center>
{for $i=$pages; $i>=1; $i--}
	{if $page == $i}
		[{$i}]
	{else}
		<a href=?op=list&page={$i}>[{$i}]</a>
	{/if}
{/for}
</td>
</tr>
</table>

{xingTemplate gbs_frame_end}
{xingTemplate gbs_footer}


