<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>zChain 留言本服务</title>
<meta name="Keywords" content="留言本 留言簿 免费 收费 服务" />
<link href="./etc/gbs.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="page-container"> <!-- Begine of page container -->
<table border="0" cellpadding="0" cellspacing="0" class="banner">
  <tr> 
    <td height="5" colspan="2" align="center" class="banner-border"></td>
  </tr>
  <tr> 
    <td width="160" class="banner-name">zChain.com<br /> 
    </td>
    <td class="banner-title">留言本服务(GuestBook Service)</td>
  </tr>
  <tr> 
    <td align="center" class="banner-desc">----零距离链接</td>
    <td align="right" class="banner-menu" ><a href="/">首页</a> <a href="/gb.php?id=support">技术支持</a> 
      <a href="/">关于本站</a> <a href="?lang=en">ENGLISH</a></td>
  </tr>
</table>
