{xingTemplate gbs_header}
{xingTemplate gbs_frame_begin}

<center>
<form method="post" action="?op=regedit">
<table width=200 class='form' border=0>
<tr><td class='form-caption' colspan=2 align=center>版主资料修改</td></tr>
<tr><td class='form-item1'>管理员名称:</td>
<td class='form-item1'><input type="text" name="f_name" size=9></td></tr>
<tr><td class='form-item1'>管理员密码:</td>
<td class='form-item1'><input type="password" name="f_pass" size=9></td></tr>
<tr><td class='form-item1' colspan=2 align=center><input name="submit" type="submit" value="继续"></td></tr>
</table>
</form>
</center>

{xingTemplate gbs_frame_end}
{xingTemplate gbs_footer}
