P
{
    FONT-SIZE: 12px;
    FONT-FAMILY: 'MS Shell Dlg', Verdana, sans-serif
}
INPUT
{
    FONT-SIZE: 12px;
    FONT-FAMILY: 'MS Shell Dlg', Verdana, sans-serif
}
FONT
{
    FONT-SIZE: 12px;
    FONT-FAMILY: 'MS Shell Dlg', Verdana, sans-serif
}
SELECT
{
    FONT-SIZE: 12px;
    FONT-FAMILY: 'MS Shell Dlg', Verdana, sans-serif
}
OPTION
{
    FONT-SIZE: 12px;
    FONT-FAMILY: 'MS Shell Dlg', Verdana, sans-serif
}
TEXTAREA
{
    FONT-SIZE: 12px;
    FONT-FAMILY: 'MS Shell Dlg', Verdana, sans-serif
}
FORM
{
    FONT-SIZE: 12px;
    FONT-FAMILY: 'MS Shell Dlg', Verdana, sans-serif
}
TD
{
    TABLE-LAYOUT: fixed;
    FONT-SIZE: 12px;
    COLOR: #333333;
    WORD-BREAK: break-all;
    FONT-FAMILY: 'MS Shell Dlg', Verdana, sans-serif
}
A:link
{
    COLOR: #005177;
    FONT-FAMILY: 'MS Shell Dlg', Verdana, sans-serif;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #005177;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #ff9a00;
    TEXT-DECORATION: underline
}
A:active
{
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}
EM
{
    COLOR: #ff0000;
    FONT-STYLE: normal
}
BODY
{
    COLOR: #000000;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: center
}
TABLE.regForm
{
    BACKGROUND-COLOR: #008000
}
TABLE.regForm TD
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    BACKGROUND-COLOR: #ffcc66
}
BODY.book
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: center
}
.bookFrame
{
    WIDTH: 720px;
    COLOR: #000000;
    POSITION: relative;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: left;
    margin: 0 auto;
}
.manageForm
{
    FONT-SIZE: 12px;
    Z-INDEX: 10;
    LEFT: 240px;
    VISIBILITY: hidden;
    FONT-FAMILY: 'MS Shell Dlg', Verdana, sans-serif;
    POSITION: absolute;
    TOP: 40px
}
TABLE.msgForm
{
    MARGIN-TOP: 5px;
    MARGIN-BOTTOM: 0px;
    WIDTH: 98%;
    BACKGROUND-COLOR: #7c7c7c
}
TABLE.msgForm A:link
{
    CURSOR: hand;
    COLOR: #00659c
}
TABLE.msgForm A:visited
{
    COLOR: #00659c
}
TABLE.msgForm A:active
{
    COLOR: #00659c
}
TABLE.msgForm A:hover
{
    COLOR: #ff9a00;
    TEXT-DECORATION: underline
}
TABLE.msgFormCaption
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 1px;
    COLOR: #00659c;
    PADDING-TOP: 1px;
    BACKGROUND-COLOR: #c0c0c0
}
TABLE.msgFormBody
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 3px;
    COLOR: #000000;
    PADDING-TOP: 3px;
    FONT-FAMILY: 'MS Shell Dlg', Verdana, sans-serif;
    BACKGROUND-COLOR: #eeeeee
}
TABLE.msgFormBody A:link
{
    CURSOR: hand;
    COLOR: #000000
}
TABLE.msgFormBody A:visited
{
    COLOR: #000000
}
TABLE.msgFormBody A:active
{
    COLOR: #000000
}
TABLE.msg
{
    MARGIN-TOP: 0px;
    MARGIN-BOTTOM: 5px;
    WIDTH: 98%;
    FONT-FAMILY: 'MS Shell Dlg', Verdana, sans-serif;
    BACKGROUND-COLOR: #8c8e8c
}
TABLE.msgCaption
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 1px;
    COLOR: #ffffff;
    PADDING-TOP: 1px;
    BACKGROUND-COLOR: #c0c0c0
}
TABLE.msgBody
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 5px;
    FONT-FAMILY: 'MS Shell Dlg', Verdana, sans-serif;
    BACKGROUND-COLOR: #eeeeee
}
TABLE.bookNavigator
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 5px;
    WIDTH: 98%;
    COLOR: #000000;
    PADDING-TOP: 5px;
    FONT-FAMILY: 'MS Shell Dlg', Verdana, sans-serif
}
.plainInput
{
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    FONT-SIZE: 12px;
    BORDER-LEFT: 1px solid;
    BORDER-BOTTOM: 1px solid;
    FONT-FAMILY: 'MS Shell Dlg', Verdana, sans-serif
}
.plainButton
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    FONT-SIZE: 12px;
    BORDER-LEFT: #000000 1px solid;
    BORDER-BOTTOM: #000000 1px solid;
    FONT-FAMILY: 'MS Shell Dlg', Verdana, sans-serif;
    HEIGHT: 16px
}
.msgText
{
    BORDER-RIGHT: black 0px solid;
    PADDING-RIGHT: 8px;
    BORDER-TOP: black 0px solid;
    PADDING-LEFT: 8px;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 8px;
    BORDER-LEFT: #8c8e8c 1px solid;
    PADDING-TOP: 8px;
    BORDER-BOTTOM: black 0px solid;
    BACKGROUND-COLOR: #eeeeee
}
